$color-black: #171C20;
$color-primary: rgb(253, 183, 59);
$color-gray: #999ea3;
$color-gray-2: #ebebeb;
$color-blue: #edf6fd;
$color-blue-2: #0c8ded;
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

.PaySuccess {
  .title_ticket {
    background-color: $color-primary;
  }

  .button-yellow {
    background-color: $color-primary;
    color: black;
    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
  .button-low {
    &:hover {
      border-color:  $color-primary;
      color: black;
    }
  }
}

